GHCR_OWNER=raph4e
IMAGE_TAG=latest
BACKEND_IMAGE=ghcr.io/raph4e/web2-echec-backend
BACKEND_TAG=latest
FRONTEND_IMAGE=ghcr.io/raph4e/web2-echec-frontend
FRONTEND_TAG=latest
GITHUB_CLIENT_ID=exemple_client_id
GITHUB_CLIENT_SECRET=exemple_client_secret
SESSION_SECRET=exemple_session_secret